* {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.top-bar {
  display: flex;
  align-items: center;      
  background-color: #f7f5f2;
  color: #003d2a;
}

.logo {
  width: 50px;
  height: 50px;
}

.search {
  flex: 1;                  
  height: 40px;
  border-radius: 12px;

}

.banner {
  background-color: #003d2a;
  color: white;
  text-align: center;

}

.button1 {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 24px;
}

.button2 {
  display: inline-block;
  background-color: #158811;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px 24px;
}

.button3 {
  display: inline-block;
  background-color: #158811;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 24px;
}


.h2 {
  font-size: 24px;
}

.p {
  font-size: 9px;
}

.h3 {
  font-size:24px;
  text-align: center;
  font-weight: bold;
}

.store-icons {
  text-align: center;
}

.h4 {
  font-size: 20px;
  color: #158811;
  text-align: center;
}

.sort {
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 12px;
  font-size: 16px;
}


.stores {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
}

.stores div {
  background-color: lightgrey;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 20px;
}

.stores2 {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
}

.stores2 div {
  background-color: lightgrey;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 20px;
}
